body {
    background-color: cadetblue;
    text-align: center;

}

.banner {
    padding-top: 70px;
    padding-bottom: 70px;
    letter-spacing: 7px;
    color: aliceblue;
    background-position: center;
    background: linear-gradient(rgba(228, 221, 161, 0.8), rgba(135, 165, 197, 0.8)),
    url("newpotato.jpg") 0% 0%/cover no-repeat
}

.banner h1 {
    text-align: center;
    font-family:'Courier New';

}

.banner h2 {
    text-align: center;
    font-family: monospace;
}

.nav {
    width: 100%;
}

.nav ul{
    list-style-type: none;
}

.nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(138, 205, 207);
    color: aliceblue;
    letter-spacing: 2px;
    border: 2px solid cadetblue;
    border-radius: 15px;
    padding: 15px;
    font-family: monospace;
    font-size: 20px;
}

.nav ul li a:hover{
    background-color: rgb(105, 171, 173);
}

/*.nav ul li a:visited{
    background-color: rgb(105, 171, 173);
}*/

.nav ul li {
    display: inline-block;
    width: 25%;
}

.card {
    width: 200px;
    height: 370px;
    border: 2px solid aliceblue;
    font-family: monospace;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    margin: 5px;
}

.card img {
    width: 200px;
    height: 270px;
}

.veg,
.fruit,
.recipe {
    font-family: monospace;
    padding-top: 10px;
    text-align: center;
    color: aliceblue;
    font-size: 20px;
}

.recipe{
    padding: 150px;
}